<form class="form-horizontal" action="/" method="post">
    <input type="hidden" name="operation" value="team_send">
    <fieldset>
        <div id="legend" class="">
            <legend class="">Send Help Request</legend>
        </div>
        <div class="control-group">
    </fieldset>
            <!-- Select Multiple -->
            <label class="control-label">To</label>
            <div class="controls" style="padding: 10px;" >
                <select class="input-xlarge" multiple="multiple" name="team">
                    {% for circle in user.circles %}
                    <option>{{ circle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="row">

        <div class="control-group span6">
            <!-- Textarea -->
            <label class="control-label">Message</label>
            <div class="controls">
                <div class="textarea">
                    <textarea style="height:200px" name="message" type="" class="">What's Happening ?</textarea>
                </div>
            </div>
            <br />
            <br/>
                        <!-- Select Multiple -->
            <label class="control-label">Urgency</label>
            <div class="controls">
                <select name="priority"  class="input-xlarge" multiple="multiple">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>Hi</option>
                </select>
            </div>
        </div>
            <div id="map" style="border: solid 1px black; width:400px; height: 400px" class="span6">
            </div>
        </div>


    <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn btn-primary">Send</button>
            </div>
    </div>

</form>