{% extends "/templates/layout.html" %}
{% block content %}

{% if message %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Message: </strong>{{ message }}
</div>
{% endif %}

<section id="send_message">
    {% include "/templates/help_request.html" %}
    <div style="clear: both"></div>
</section>

<section id="timeline">
   {% include "/templates/timeline.html" %}
    <div style="clear: both"></div>
</section>

<section id="teams">
    {% include "/templates/teams.html" %}
</section>
<section id="notifications">
    {% include "/templates/notifications.html" %}
</section>
{% endblock %}