<!doctype html>
<html>
<head>
    <title>Mira Mira</title>
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/css/screen.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="#">Mira Mira</a>

            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user.photo }}" width="30" height="30"/>&nbsp;<span>{{ user.first_name }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#send_message">Send Message</a></li>
                        <li><a href="#timeline">View Messages</a></li>
                        <li><a href="#user_selection" data-toggle="modal">Manage Teams</a></li> 
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>

        </div>
    </div>
</div>
<div class="hero-unit top">
    <h1>Mira Mira</h1>
    <p class="lead">San Francisco Edition</p>
</div>

{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
this.map = null;
this.getLocation = function(position) {
    var mapOptions = {
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var myMap = document.getElementById('map');
    this.map = new google.maps.Map(myMap,mapOptions);
    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    console.log("Pos is " + pos);
    $("#lat").val(pos.lat());
    $("#lng").val(pos.lng());
    this.map.setCenter(pos);
    var marker = new google.maps.Marker({
      position: pos,
      map: this.map,
      title: 'Drag to the proper location',
      draggable:true
    });
    google.maps.event.addListener(marker, 'click', function() {
      pos = marker.getPosition();
      console.log("Pos is " + pos);
      $("#lat").val(pos.lat());
      $("#lng").val(pos.lng());
      this.map.setCenter(pos);
    });

}

$(window).load(function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.getLocation);
    } else {
        alert("Geo Location is not supported on your device");
    }
});

</script>
</body>
</html>
