<h2>Actions</h2>
<div class="do">
    <form action="/" method="post">
        <input type="hidden" name="operation" value="insertItemWithAction">
        <button type="submit">Insert item with actions</button>
    </form>
    <!-- TODO(mimming): Add a read aloud and custion action to this list-->
</div>
<div style="clear: both"></div>